<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript">
      function validate_url() {
        url = $('#url_field').val();

        if !url {
          alert("Type some URL in the field to get it's information.")

          return false;
        }

        if(!(/^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/|www\.)[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/.test(url))) {
          alert("invalid url");

          return false;
        }

        return true;
      }
    </script>

    <meta charset="utf-8">
    <title>URL Info</title>
  </head>

  <body>
    <input id='url_field' type='text' placeholder="Type a valid URL"/>
    <submit type='button' value='Get Info' onclick='validate_url();'/>
  </body>
</html>